{% include "base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
<div style="max-width: 1000px; margin-left: auto; margin-right: auto;">
    <br/>
    <h1 class="list_title">List Order</h1>
    <button id="filter_btn" data-toggle="modal" data-target="#filterModal" type="button" class="filter_btn btn btn-success shadow-none">Filter</button>
    <br/>
    {% for orders in order %}
    <div class="card w-100">
        <div class="card-body">
            <h5 class="card-title">Order - {{ orders.order_code }}</h5>
            <p class="card-text">Status Pembayaran: {% if orders.paid %} Sudah {% else %} Belum Dibayar {% endif %}</p>
            <p class="card-text">Total Order: Rp. {{ orders.total_amount|intcomma }}</p>
            <p class="card-text">Nama Pemesan: Bapak/Ibu {{ orders.nama_penerima }}</p>
            
            {% if orders.retur %}
                <p class="card-text">Alasan Retur: {{ orders.retur_reason }}</p>
            {% endif %}
            {% if orders.cancel %}
                <p class="card-text">Alasan Pembatalan: {{ orders.cancel_reason }}</p>
            {% endif %}

            <a href="{% url 'view_order' orders.pk %}"><button class="btn btn-primary shadow-none">Order Detail</button></a>
        </div>
    </div>
    <br/>
    {% endfor %}
    {% if order.has_other_pages %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
      
          {% if order.has_previous %}
          <li class="page-item">
              <a data-page="{{ posts.previous_page_number }}&{{ params }}" href="?page=1&{{ params }}">
                <!--<i class="page-link fa fa-angle-double-left"></i>-->
                <span class="page-link">&Lt;</span>
              </a>
          </li>
          <li class="page-item">
              <a data-page="{{ order.previous_page_number }}&{{ params }}"  href="?page={{ order.previous_page_number }}&{{ params }}">
                <!--<i class="page-link fa fa-angle-left"></i>-->
                <span class="page-link">&LT;</span>
              </a>
          </li>
          {% else %}
          <li class="page-item disabled">
                <!--<i class="page-link fa fa-angle-double-left"></i>-->
                <span class="page-link">&Lt;</span>
          </li>
          <li class="page-item disabled">
                <!--<i class="page-link fa fa-angle-left"></i>-->
                <span class="page-link">&LT;</span>
          </li>
          {% endif %}
          
          {% for i in order.paginator.page_range %}
          {% if i == order.number %}
              <li class="page-item active">
                  <span class="page-link">{{ i }} 
                      <span class="sr-only">(current)</span>
                  </span>
              </li>
          {% elif i > order.number|add:'-4' and i < order.number|add:'4' %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ i }}&{{ params }}">{{ i }}</a>
              </li>
          {% endif %}
          {% endfor %}

      
          <!------------Percobaan------------>
    
    
    
            {% if order.has_next %}
              <li class="page-item">
                <a data-page="{{order.next_page_number}}&{{ params }}" href="?page={{ order.next_page_number }}&{{ params }}">
                  <!--<i class="page-link fa fa-angle-right"></i>-->
                  <span class="page-link">&GT;</span>
                </a>
              </li>
            
              <li class="page-item">
                <a data-page="{{order.paginator.num_pages}}&{{ params }}" href="?page={{order.paginator.num_pages}}&{{ params }}">
                  <!--<i class="page-link fa fa-angle-double-right"></i>-->
                  <span class="page-link">&Gt;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                  <!--<i class="page-link fa fa-angle-right"></i>-->
                  <span class="page-link">&GT;</span>
                </li>
              
                <li class="page-item disabled">
                  <!--<i class="page-link fa fa-angle-double-right"></i>-->
                  <span class="page-link">&Gt;</span>
                </li>

            {% endif %}
              </ul>
          </nav>
          {% endif %}

</div>
<!--Filter Modal-->

<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalLabel">Filter Produk</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action='{% url "list_order" %}' method = "get">
            {% csrf_token %}
            <div class="form-group">
              {{ order_filter.form.detail_penerima|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ order_filter.form.total_amount|as_crispy_field }}
            </div>
              <div class="form-group">
                {{ order_filter.form.request_order|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ order_filter.form.paid|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ order_filter.form.cancel|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ order_filter.form.retur|as_crispy_field }}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger shadow-none" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary shadow-none">Cari Produk</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<style>
    @media only screen and (max-width: 1000px) {
      .card {
        width: 80%;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto; 
      }
      .mini_header{
        width: 100%;
        text-align: center;
      }
      .filter_btn{
          margin-left: auto !important;
          margin-right: auto !important;
      }
    }
    @media only screen and (min-width: 1000px) {
      .mini_header{
        max-width: 1110px; 
        margin-left: auto; 
        margin-right: auto;
    }
      .list_title{
        display: inline-block;
      }
    }
    
    </style>
    <script>
    if ($(window).width() > 1000) {
        $("#card_control").addClass("col-md-12");
        $("#filter_btn").addClass("float-right");
    } else {
        $("#card_control").removeClass("col-md-12");
        $("#filter_btn").removeClass("float-right");
    
    }
    $(window).resize(function() {
        if ($(window).width() > 1000) {
            $("#card_control").addClass("col-md-12");
            $("#filter_btn").addClass("float-right");
        } else {
        $("#card_control").removeClass("col-md-12");
        $("#filter_btn").removeClass("float-right");
    }
    });
    
    </script>